@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion-principal{
    min-height: 70vh;

    &-contenedor{
        @include m.desktop { 
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    }
}