@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal{
    min-height: 80rem;

    &-contenedor{
        @include m.desktop { 
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    }
}