@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    // margin-bottom: 5rem;

    &__contenedor {
        padding: 2rem 1rem;

        @include m.tablet { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            padding: 1rem 2rem;
        }
    }

    &__contenido {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;

        @include m.tablet { 
            flex-direction: row;
            text-align: left;
            margin:0;
        }
    }

    &__logo{
        width: 20rem;

        @include m.tablet { 
            width: 10rem;
            margin-right: 2rem;
        }
    }

    &__titulo {
        font-size: 3rem;
        max-width: 30rem;
    }

}

.navegacion{
    font-size: 2rem;

    @include m.tablet {
        display:flex;
    }

    &__link {
        display: block;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        border-radius: 2rem;
        padding: 1rem;

        @include m.tablet { 
            margin:0;
        }

        &:hover {
            background-color: #e2e2e2;    
            text-decoration: none;
            font-weight: 700;

            @include m.tablet { 
                font-weight: 400;
            }
        }

        &--ingresar{
            background: #eb8129;
            color: #fff;
            font-weight: 900;

            &:hover{
                background: #1b2d2a;
                color: #fff;
                font-weight: 900;
            }
        }
    }
}