.btn {
    font-size: 2rem !important;
    font-weight: 700 !important;
    padding: 1rem !important;
    width: 100% !important;
    margin: 1rem 0 !important;
}

.btn-primary{
    background-color:#eb8129 !important;
    border-color: #eb8129 !important;
    border-radius: 1rem !important;
}