@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background: #eb8129;
    padding: 5rem 0;

    &__empresa{
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        color:white;
        text-transform: uppercase;
        font-size: 3rem;
    }
}

.copyright{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color:white;
}